:root {
    --color-white: #f9f7f0;
    --color-light: #18b7be;
    --color-medium: #178ca4;
    --color-dark: #072a40;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    background: var(--color-white);
    font-family: "Google Sans", sans-serif;
    color: var(--color-dark);
    zoom: 1.1;

    /* line-height: 2rem; */
}

.spacer {
    height: 1.5rem;
}

.parallax {
    position: relative;
    overflow: hidden;
}

.parallax > img {
    position: absolute;
    object-fit: cover;
    object-position: center;
    inset: 0;
    width: 100%;
    height: 100%;
}

.banner {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
    color: var(--color-white);
}

.banner-overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-dark);
    opacity: 50%;
    transition: opacity 800ms;
}

.banner .parallax {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
}

.banner-content {
    z-index: 1;
    text-align: center;
}

.container {
    width: 940px;
    max-width: 100%;
    padding: 0 2rem;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.name-row {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 1rem;
    justify-content: space-between;
}

.name-row h2 {
    margin-bottom: 0;
}

p {
    line-height: 1.8rem;
    text-align: justify;
    font-size: 1.2rem;
}

.title {
    font-size: 5rem;
    /* text-transform: uppercase; */
    /* font-style: italic; */
    transition:
        transform 800ms,
        opacity 800ms;
    transform-origin: bottom center;
    transform: skewX(-15deg) translateX(-1.5rem);
    position: relative;
    width: fit-content;
    margin: 0 auto;
}

.title.initial {
    transform: translateX(-4rem);
    opacity: 0;
}

.initial {
    opacity: 100%;
}

.scroll-show {
    opacity: 0;
    transition:
        opacity 800ms,
        transform 800ms;
    transform: translateX(-2rem);
}

.scroll-show.show {
    opacity: 100%;
    transform: none;
}

/* ============ CAST ============ */

@media only screen and (min-width: 600px) {
    .cast .member {
        height: 30rem;
    }

    .cast .member:nth-child(odd) {
        flex-direction: row;
    }

    .cast .member:nth-child(even) {
        flex-direction: row-reverse;
    }

    .cast .member .parallax {
        height: 100% !important;
        width: auto !important;
        aspect-ratio: 1 / 1;
    }
}

@media only screen and (min-width: 1200px) {
    .cast .member {
        height: 40rem;
    }
}

.cast .member {
    display: flex;
    flex-direction: column;
    min-height: fit-content;
}

.cast .member .parallax {
    height: 40rem;
    width: 100%;
}

.cast .member .parallax img {
    object-fit: cover;
}

.cast .member .content {
    flex: 1 0;
    max-width: 600px;
    margin: auto;
    padding: 2rem;
}

.socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.socials a {
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: opacity 200ms;
}

.socials a:hover {
    opacity: 0.55;
}

.socials img {
    width: 2rem;
    height: 2rem;
}

.socials img[alt="Resume"] {
    width: 2.2rem;
    height: 2.2rem;
}

.socials img[alt="Email"] {
    width: 2.5rem;
    height: 2.5rem;
}
